@import "./nav.css";
html, body{
  background: #302A3B; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #2A1F3F, #4E486A, #915A9C); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #2A1F3F, #4E486A, #915A9C); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #2A1F3F, #4E486A, #915A9C); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #2A1F3F, #4E486A, #915A9C);
}

.nav-text{
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	color: #FAFAFA;
	font-weight: 600;
	padding-top: 14px
}
.unborder-text{
	width: 100%;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.15);
  border-radius: 0;
  font-size: 18px;
  height: 40px;
  overflow: hidden;
  padding: 7px;
  white-space: nowrap;
  font-family: "Open Sans","Helvetica Neue",sans-serif;
  letter-spacing: 0;
  font-weight: 300;
  font-style: normal;
  background-color: transparent;
}
.white{
	color: #FAFAFA;
}
.transparent{
	background-color: transparent;
}
.input-group-addon.transparent{
	border: 0px;
  border-bottom: 1px solid rgba(0,0,0,.15);
	padding-left: 20px;
	padding-right: 20px
}
.social-button{
	color: white;
  width: 100%;
  font-family: 'Open sans';
  font-size: 15px;
  font-weight: 700;
  background-color: #3b5998;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 2px;
  border: solid 1px #3b5998;
  text-align: center;
  vertical-align: middle;
  padding: 12px;
  padding-top: 12px!important;
  padding-bottom: 12px!important;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.42857143;
  white-space: nowrap;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px;
}
.form-container{
	margin-top: 25%;
}
.percent-80{
	max-width: 80%;
	margin-top: 0px;
}
.login-logo{
	max-width: 150px;
	margin-top: 50px;
	margin-bottom: 25px;
}
.social-button.login{
	background-color: rgba(27, 159, 180, 0.6) !important;
}
.social-btn.google{
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.15);
  color: rgba(0,0,0,.6);
	height: 47px;
	width: 100%;
	margin-top: 10px
}
.social-btn.google img{
  width: 23px;
  margin-right: 10px;
  margin-top: -2px;
  margin-left: -23px
}
.social-btn.music{
	background-color: #362D40!important;
	color: white!important
}
.social-btn.spotify{
	color: white!important;
	background-color: #00DC62!important
}
.form-container .input-group{
	width: 100%
}
.text-divider{
	width: 100%;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding: 15px;
	color: #FAFAFA
}
.text-divider a{
	color: #FAFAFA;
  font-size: 14px;
  text-decoration: none
}
.left-text{
	text-align: left;
}
.dark{
	background-color: #1f1e1e!important;
}
.form-control.dark{
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 45px;
	border-radius: 0px;
	color: #FAFAFA;
	font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
.social-button.green{
	background-color: #1DB954;
	border-radius: 0px;
	border-color: #1DB954
}
span.input-group-addon.dark{
	border: none;
	color: #FAFAFA;
	padding-right: 20px;
	padding-left: 20px;
	width: 50px
}
*:focus, input:active{
	outline: none!important;
}
.social-button .fa{
	padding-right: 15px;
	font-size: 16px
}