.onboarding-text{
	font-size: 20px;
	padding-bottom: 0px!important
}
.onboarding-title, .onboarding-text{
	color: #FAFAFA;
	padding: 15px;
	font-family: 'Open Sans', sans-serif;
}
.onboarding-title{
	font-size: 18px;
	font-weight: 300
}
.border-button{
	border-color: #FAFAFA !important;
  color: #FAFAFA !important;
  border: 2px solid #FAFAFA!important;
  background-color: transparent!important;
  border-radius: 27px 27px 27px 27px !important;
}
.no-padding-right{
	padding-right: 0px!important
}
.no-padding-left{
	padding-left: 0px!important
}
.no-padding-right .first, .no-padding-left .first{
	padding-bottom: 7.5px;
}
.no-padding-right .second, .no-padding-left .second{
	padding-top: 7.5px;
}
.padding-top{
	padding-top: 15px
}
img.active {
	opacity: 0.7;
	-webkit-transition: opacity 0.15s;
	-moz-transition: opacity 0.15s;
	-ms-transition: opacity 0.15s;
	-o-transition: opacity 0.15s;
	-webkit-transition: opacity 0.15s;
}