.user-info{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #abaaaa;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}
.circle-button {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: solid 2px #FAFAFA;
  background-color: transparent;
  text-align: center;
  vertical-align: middle;
  color: #FAFAFA !important;
  letter-spacing: 0.5px;
  font-weight: 400 !important;
  min-width: 55px;
  min-height: 55px;
  margin-left: 5px;
  margin-right: 5px
}
.circle-button i{
	font-size: 22px
}
.circle-button.xs{
	min-width: 45px;
	min-height: 45px 
}
.circle-button.xs i{
	font-size: 18px;
	margin-top: 1.5px;
}
.circle-button.xxs{
	min-width: 35px;
	min-height: 35px 
}
.circle-button.xxs i{
	font-size: 15px;
	margin-top: 1.5px;
	margin-left: 2px
}
.list-container{
	padding-left: 20px;
	padding-right: 20px
}
.music-text{
	color: #abaaaa;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 600
}
.author-text{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #807d7d;
}
.play-divider{
	margin-top: 10px;
	margin-bottom: 10px
}
.custom-animate{
  -vendor-animation-duration: 3s;
  -vendor-animation-delay: 2s;
}